p, body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 20px 10px 20px 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.title {
  font-weight: bold;
  text-align: center;
  font-size: 8vw;
}

.play-buttons-container,.reset-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.play-buttons-container {
  gap: 2vw;
}

.reset-button-container {
  justify-content: flex-start;
}

.play-buttons,.reset-button {
  width: 33vw;
  height: 33vw;
  border: solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(246, 246, 246);
  outline: none;
  transition: 200ms;
}

.play-buttons:hover ,.reset-button:hover {
  background-color: rgb(228, 228, 228);
}

.play-buttons:active ,.reset-button:active {
  opacity: .7;
}

.score {
  font-size: 5vw;
}

.reset-button {
  border-width: 1px;
  border-radius: 5px;
  width: 30vw;
  height: 8vh;
}

.button-images {
  width: 20vw;
  height: 20vw;
}

.pop-ups {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  padding: 3vw 1vw 3vw 1vw;
}

.result {
  font-size: 3.5vw;
}

.win-lose {
  font-size: 6vw;
}

.user-vs-computer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2vw;
}

.user-move, .computer-move {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.versus-image {
  width: 10vw;
}

.user-move-image,.computer-move-image {
  width: 30vw;
}

.js-user-move,.js-computer-move {
  border-style: solid;
  border-radius: 50%;
  border-width: 3px;
  width: 40vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.move {
  font-size: 5vw;
}